{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}{{ article.title }}{% endblock %}
{% block url %}{{ SITEURL }}/{{ article.url }}{% endblock %}

{% if article.summary %}
{% block description %}{{ article.summary | striptags | safe | truncate(300) }}{% endblock %}
{% endif %}

{% if article.image %}
{% block image %}{{ SITEURL }}/images/{{ article.image }}{% endblock %}
{% endif %}

{% block content %}
<div class="container">
    <main role="main" class="container  width-8">
        <article class="blog-post">
            <header class="my-5">
                <!--<h4>
                    <p  href="{{ SITEURL }}/{{ article.url }}"
                        class="text-dark"
                        rel="bookmark"
                        title="Permalink to {{ article.title|striptags }}"
                        >{{ article.title }}</p
                    >
                </h4>          -->
            </header>
            
            <div class="article-content">
                <h3 class="mb-4">
                {{ article.title }}</h4>
                </h3>
                {{ article.content }}
            </div>
        </article>
    </main>
</div>
{% endblock %}