{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}Portfolio 2023{% endblock %}
{% block description %}explaination{% endblock %}

<!-- prettier-ignore -->
{% block extra_head -%}
<style>
    body {
        background: #ffffff;
    }
</style>

{% endblock %}

<!-- prettier-ignore -->

{% block content %}
<div class="container">
    
    
    <article class="container row mt-4 blog-post p-3">
        <div class="col-sm mb-4">
            <h1>UX Portfolio</h1>
        </br>
            Hi, I'm Sabine.
            I support conscious customers by enhancing
            their websites' sustainability and I deliver ethically inspired digital designs. 
            </br></br>
            <p class="font-weight-bold">Contact me: <a class="text-dark font-weight-light" href="mailto:sabcon@posteo.de">sabcon@posteo.de</a>
            </p></br>
            <h5 class="text-primary">Projects:</h5>
            {% for article in articles_page.object_list %}
            <p><a
            href="{{ SITEURL }}/{{ article.url }}"
            class="text-dark font-weight-light"
            rel="bookmark"
            title="{{ article.title|striptags }}"
            ><h4><ul><li>{{ article.title }}</h4></li></ul></a>
            <ul>{{ article.summary }}</ul></p>
            {% endfor %}      
        </div>
        
            <div class="col-sm width-25">
                <img class="float-right" src="{{ SITEURL }}/images/UX_vs_UI.jpg" />
            </div>
        </div>
    </article>
    
   
</div>
{% endblock content %}

