{% extends "base.html" %}

<!-- prettier-ignore -->
{% block title %}ZUHAUSE{% endblock %}
{% block description %}explaination{% endblock %}

<!-- prettier-ignore -->
{% block extra_head -%}
<style>
    body {
        background: #ffffff;
    }
</style>

{% endblock %}

<!-- prettier-ignore -->

{% block content %}
<div class="container">
    
    {% for article in articles_page.object_list %}
    <article class="container row mt-4 blog-post p-3">
        <div class="col-sm mb-4">
            <h1>freelance UX and web design</h1>
        </br>
            Hi, I support conscious organisations and individuals by enhancing
            their websites' sustainability and I create new, value-inspired digital services. 
            </br></br>
            Please see my 
            <a
                href="{{ SITEURL }}/{{ article.url }}"
                class="text-dark"
                rel="bookmark"
                title="{{ article.title|striptags }}"
                >{{ article.title }}</a
            >
            </br></br>
            Let's create meaningful products. First, we'll analyse your requirements. 
            Next, we'll develop solutions and test them with your target audience. 
            Results are handed over to you in a practical overview, along with your optimised website.
            </br></br>
            Get in contact: sabcon@posteo.de
        
        </div>
            <div class="col-sm width-25">
                <img class="float-right" src="{{ SITEURL }}/images/UX_vs_UI.jpg" />
            </div>
        </div>
    </article>
    
    {% endfor %}
</div>
{% endblock content %}

